.root
{
    -fx-background-image: url('BG.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.text-field
{
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-border-style: solid;
    -fx-border-color: 'black';
    -fx-font-family: sans-serif;
}

.text-area
{
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-border-style: solid;
    -fx-border-color: 'black';
    -fx-font-family: sans-serif;
}

#AddItemButton
{
    -fx-font-family: sans-serif;
}

#AddItemButton:hover
{
    -fx-padding: 5px;
    -fx-border-width: 0px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: 'white';
    -fx-border-radius: 6px;
    transition-duration: 0.4s;
    -fx-background-color: #87CEEB;
    -fx-font-weight: bold;

}

#ConsumeItemButton
{
    -fx-font-family: sans-serif;
}

#ConsumeItemButton:hover
{
    -fx-padding: 5px;
    -fx-border-width: 0px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: 'white';
    -fx-border-radius: 6px;
    transition-duration: 0.4s;
    -fx-background-color: #87CEEB;
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
}

#UpdateItemButton
{
    -fx-font-family: sans-serif;
}

#UpdateItemButton:hover
{
    -fx-padding: 5px;
    -fx-border-width: 0px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: 'white';
    -fx-border-radius: 6px;
    transition-duration: 0.4s;
    -fx-background-color: #87CEEB;
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
}

#ReturnToMainMenu
{
    -fx-font-family: sans-serif;
}

#ReturnToMainMenu:hover
{
    -fx-padding: 5px;
    -fx-border-width: 0px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: 'white';
    -fx-border-radius: 6px;
    transition-duration: 0.4s;
    -fx-background-color: #87CEEB;
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
}