#DeleteItemButton {
    -fx-font-family: sans-serif;
}

#DeleteItemButton:hover {
    -fx-padding: 5px;
    -fx-border-width: 0px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: 'white';
    -fx-border-radius: 6px;
    transition-duration: 0.4s;
    -fx-background-color: #87CEEB;
    -fx-font-weight: bold;
}

#ReturnButton {
    -fx-font-family: sans-serif;
}

#ReturnButton:hover {
    -fx-padding: 5px;
    -fx-border-width: 0px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: 'white';
    -fx-border-radius: 6px;
    transition-duration: 0.4s;
    -fx-background-color: #87CEEB;
    -fx-font-weight: bold;
}
.root
{
    -fx-background-image: url('BG.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}